@import 'breakpoints.scss';
@import 'page-header.scss';
@import 'headline.scss';
@import 'reviews.scss';
@import 'workflow.scss';
@import 'features.scss';
@import 'page-footer.scss';

* {
   box-sizing: border-box;
}

html {
   font-family: 'Mulish', sans-serif;
   color: #11223F;
   font-size: 16px;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
   background-repeat: repeat-y;
   @include for-large-up {
      background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png);
   }
}

.homeDevs {
   margin: auto;
   display: flex;
   flex-direction: column;
   min-width: 640px;
   @include for-large-up {
      margin-top: 30px;
      margin-left: 160px;
      margin-right: 160px;
      position: relative;
      
   }
}

