.page-header {
   @include for-large-up {
      display: flex;
   }
.logo {
   display: flex;
   &__image {
      margin-top: 40px;
      margin-left: 80px;
      @include for-large-up {
         margin: 0;
      }
   }
   &__text {
      margin-top: 50px;
      font-weight: 600;
      font-size: 20px;
      margin-left: 10px;;
      line-height: 30px;
      color: #1968FC;
      @include for-large-up {
         margin-top: 10px;
         
      }
   }
}
&__navigation {
   display: none;
   @include for-large-up {
      display: flex; 
      margin-left: auto  
      
   }
   &-item {
      @include for-large-up {
         width: 120px;
         height: 50px;
         font-weight: 600;
         font-size: 14px;
         line-height: 20px;
         display: flex;
         align-items: center;
         text-align: center;
         color: #000000;
         text-decoration: none;
         &:last-child {
            margin-right: 20px;
         }
         
      }
   }
}
&__upload-btn {
   display: none;
   @include for-large-up {
      
      background: #1968FC;
      width: 180px;
      height: 50px;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
   }
   
}
}
