.workflow {
    margin: auto;
    @include for-large-up {
        margin: 0;
    }
    &__title {
        margin: 120px 60px 0;
        font-size: 30px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #11223f;
        @include for-large-up {
            margin: 0;
            margin-top: 120px;
            margin-left: 160px;
        }
    }
    &__line {
        width: 80px;
        height: 4px;
        border-top: 2px solid #1968fc;
        margin-top: 10px;
        margin-left: 60px;
        @include for-large-up {
            margin-top: 10px;
            margin-left: 120px;
        }
    }
    &__cards {
        @include for-large-up {
            display: flex;
        }
    }
    &__card-connection {
        height: 40px;
        width: 1px;
        border-left: 2px dashed #1968fc;
        margin-left: 119px;
        @include for-large-up {
            width: 70px;
            height: 1px;
            margin-left: 0;
            border: none;
            border-top: 2px dashed #1968fc;
            &-line1 {
                @include for-large-up {
                    display: flex;
                    margin-top: 130px;
                }
            }
            &-line2 {
                @include for-large-up {
                    margin-top: 170px;
                    margin-left: 0;
                }
            }
        }
    }
    &__step {
        background: #ffffff;
        box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
        width: 520px;
        height: 180px;
        margin-top: 48px;
        margin-left: 60px;
        margin-right: 60px;
        position: relative;
        @include for-large-up {
            width: 320px;
            height: 220px;
            margin-top: 0;
        }

        &-title {
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-left: 40px;
            color: #11223f;
            @include for-large-up {
            }
        }
        &-subtitle {
            font-weight: 700;
            font-size: 18px;
            line-height: 40px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #1967fa;
            padding-left: 40px;
            @include for-large-up {
            }
        }
        &-text {
            font-size: 16px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: #11223f;
            padding-top: 10px;
            padding-left: 40px;
            @include for-large-up {
            }
        }
        &-picture {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 40px;
            margin-top: 40px;
        }
        &-decoration {
            position: absolute;
            bottom: -5px;
            right: -5px;
        }
    }
    &__step1 {
        @include for-large-up {
            margin-left: 160px;
            margin-right: 0;
            margin-top: 38px;
        }
    }
    &__step2 {
        @include for-large-up {
            margin-left: 0;
            margin-top: 60px;
            margin-right: 0;
        }
    }
    &__step3 {
        @include for-large-up {
            margin-left: 0;
            margin-top: 100px;
        }
    }
    /*
    &__margins {
        margin-top: 0;
        @include for-large-up {
            margin-left: 0;
            margin-right: 0;
        }
    }
    */
}
